*{
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

/*VARIAVEIS DE CORES*/
:root{ 
   
    --roxo: #D5BFFB;
    --amarelo:#F8E9B7;

    --cinza:#ECECEC;
    --cinza2:#DADADA;
    --cinza3:#BEBEBE;

    --preto:#222;
    --branco:white;

}

/*FONTE E FUNDO*/
body{ 
    background: #d3d3d3;
    font-family:'Poppins',sans-serif;
} 

/*CSS DO CABEÇALHO*/

.topo{

    height:90px;
    background: var(--roxo);
}
