*{
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

/*VARIAVEIS DE CORES*/
:root{ 
   
    --roxo: #D5BFFB;
    --amarelo:#F8E9B7;

    --cinza:#ECECEC;
    --cinza2:#DADADA;
    --cinza3:#BEBEBE;

    --preto:#222;
    --branco:white;

}

/*FONTE E FUNDO*/
body{ 
    background: #d3d3d3;
    font-family:'Poppins',sans-serif;
} 

/*CSS DO CABEÇALHO*/

.topo{

    position:absolute;
    top:0;
    left:0;
    height: 100px;
    width:100vw;
    background: var(--roxo);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    box-shadow: 0px 10px rgba(0,0,0,.08);
    z-index: 10;
}

/*IMAGEM DA LOGO*/
.logo img{

width: 200px;   

}

.perfil{

    display:flex;
    align-items: center;
    gap: 10px;

}
/* CSS DO PERFIL(IMG)*/
.perfil img{

    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 3px slid black;
    object-fit: cover;
}

/*CSS DA COLUNA LATERAL, OPÇÕES E ETC*/
.coluna-lateral{

    width: 100px;
    height: 100vh;
    top: 90px;
    left: 0;
    top:0;
    gap: 50px;
    padding: 200px 30px 20px 30px;
    background: #efefef96;
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(0,0,0,.05);
    z-index: 1;

}

/*CSS DOS ITENS DA COLUNA LATERAL*/
.coluna-item{ 

    margin-top: 1vh;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 8px;
    cursor: pointer;
    transition: .3s;
 
}

/*CSS DAS IMAGENS DOS ITENS DA COLUNA LATERAL*/
.coluna-item img{ 
    width: 38px;
}

.coluna-item:hover{ 
    
    transform: scale(1.2);
}

/*CSS DOS BALÕES CENTRAIS*/
.baloes1{
    
    margin-left: 120px;
    margin-right:100px;
    padding: 30px
}   

.baloes1{

margin-top: 20vh;
background:#f5f5f5;
padding:25px;
border-radius:25px;
display:flex;
justify-content:space-around;
flex-wrap:wrap;
gap:20px;

}

.balao1{ 
    
 background:#f5f5f5;
padding:25px;
border-radius:25px;
display:flex;
justify-content:space-around;
flex-wrap:wrap;
gap:20px;
cursor: pointer;

}


.balao1{

background:var(--cinza2);
border:none;
padding:18px 28px;
border-radius:18px;
font-family:'Cinzel',serif;
font-weight:bold;
cursor:pointer;
transition:.35s;
min-width:200px;

}

.balao1:hover{

transform:translateY(-5px);
background:#cfcfcf;

}

.ativa{

background:var(--roxo);
color:#4a267a;

}

/* TITULO*/
.selecionado{
    
margin:35px 0;
text-align:center;
font-family:'Cinzel',serif;
font-size:15px;

}

/* BALOES INFORMATIVOS*/
.accordion{
    
    display: flex;
    flex-direction: column; 
    gap: 18px;
}

.item{
margin-left: 120px; 
margin-right: 100px ; 
background:#efefef;
border-radius:18px;
overflow:hidden;
transition:.4s;
box-shadow:0 4px 8px rgba(0,0,0,.05);
}

.item:hover{

transform:translateY(-5px);
background:#cfcfcf;

}

.item-topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px;
  
}

.item-topo h2{
    font-family:'Cinzel', serif;
    font-size: 20px;
}

.seta{
    font-size:25px;
    transition:.4s;
    cursor:pointer;
}

.item.aberto .item-conteudo{
    max-height:600px;
    padding:20px 22px;
}

.item.aberto .seta{
    transform:rotate(180deg);
}

/* PARTE PARA FICAR RESPONSIVO*/

@media(max-width:900px){

    .coluna-lateral{
        width:75px;
    }

    .conteudo{
        margin-left:90px;
    }

    .baloes1{
        flex-direction:column;
        align-items:center;
    }

    .balao1{
        width:100%;
    }

    .slogan{
        display:none;
    }
}